main {
    padding: 0 5rem 10rem;
}

@media (max-width: 500px) {
    main {
        padding: 0 2.5rem 5rem;
    }
}

.cover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/8/8b/Prompton_State_Park.jpg') center center;
    width: 100%;
    height: auto;
    padding: 6rem 3rem;
    margin-top: -24px;
}

.banner {
    box-shadow: 0 1px 6px rgba(10, 10, 10, .9);
}

.tabs {
    position: relative;
    bottom: 30px;
    background-color: white;
}

.admin-link {
    color: white !important;
    padding-right: 10px;
}