* {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: calc(100vh*.0275);
}

nav ul {
    display: block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #1de;
    width:100%;
}

nav li {
    float: left;
    height: calc(100vh*.075);
}

nav a {
    display: block;
    text-align: center;
    padding-left: calc(100vh*.025);
    padding-right: calc(100vh*.025);
    text-decoration: none;
    height:inherit;
    line-height: calc(100vh*.075);
    color: black;
    transition: all 0.15s ease-in-out;
}

nav a:hover {
    background-color: #f88;
    text-shadow:
    -0.5px -0.5px 0 #fff,
    0.5px -0.5px 0 #fff,
    -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;  
}

.slideshow {
    width: 100%;
    height: calc(100vh*.4);
    overflow: hidden;
    box-shadow: inset 0 0 20px 8px black;
}

.slideshow * {
    position: relative;
    z-index: -1;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    background-color: green;
}

#useful-links {
    width: 100%;
    height: calc(100vh*.10);
    background-color: green;
}

.slide {
    animation:fading 4.5s infinite;
        background-color: green;
}

@keyframes fading {
    0% {
        opacity:0
    }
    4% {
        opacity:1
    }
    96% {
        opacity:1
    }
    100% {
        opacity:0
    }
}

#content {
    margin: 0 auto;
    width: 93.5%
}

